tivaservice-api/src/wsdl/tivaService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="KokuTivaToKksService"
	targetNamespace="http://services.koku.fi/entity/tiva/v1" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.koku.fi/entity/tiva/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://soa.common.koku.arcusys.fi/"
			version="1.0" xmlns:tns="http://soa.common.koku.arcusys.fi/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="perform" type="tns:perform" />
			<xs:element name="performResponse" type="tns:performResponse" />
			<xs:complexType name="organization">
				<xs:sequence>
					<xs:element minOccurs="0" name="organizationId" type="xs:string" />
					<xs:element minOccurs="0" name="organizationName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="performResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="perform">
				<xs:sequence />
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://services.koku.fi/entity/tiva/v1"
			xmlns:ns1="http://soa.common.koku.arcusys.fi/" xmlns:tns="http://services.koku.fi/entity/tiva/v1"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://soa.common.koku.arcusys.fi/" />
			<xs:element name="createConsent" type="tns:createConsent" />
			<xs:element name="createConsentResponse" type="tns:createConsentResponse" />
			<xs:element name="queryConsentTemplates" type="tns:queryConsentTemplates" />
			<xs:element name="queryConsentTemplatesResponse" type="tns:queryConsentTemplatesResponse" />
			<xs:element name="queryConsents" type="tns:queryConsents" />
			<xs:element name="queryConsentsResponse" type="tns:queryConsentsResponse" />
			<xs:complexType name="queryConsents">
				<xs:sequence>
					<xs:element minOccurs="0" name="consentSearchQuery"
						type="tns:ConsentSearchCriteria" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ConsentSearchCriteria">
				<xs:sequence>
					<xs:element name="targetPerson" type="xs:string" />
					<xs:element name="templateNamePrefix" type="xs:string" />
					<xs:element minOccurs="0" name="informationTargetId"
						type="xs:string" />
					<xs:element minOccurs="0" name="formInstanceId" type="xs:string" />
					<xs:element maxOccurs="unbounded" name="givenTo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="queryConsentsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:consent" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consent">
				<xs:sequence>
					<xs:element minOccurs="0" name="consentId" type="xs:long" />
					<xs:element minOccurs="0" name="template" type="tns:consentTemplate" />
					<xs:element minOccurs="0" name="consentRequestor" type="xs:string" />
					<xs:element minOccurs="0" name="targetPerson" type="xs:string" />
					<xs:element maxOccurs="unbounded" name="consentProviders"
						type="xs:string" />
					<xs:element minOccurs="0" name="informationTargetId"
						type="xs:string" />
					<xs:element minOccurs="0" name="givenAt" type="xs:date" />
					<xs:element minOccurs="0" name="validTill" type="xs:date" />
					<xs:element maxOccurs="unbounded" name="givenTo" type="tns:givenTo" />
					<xs:element minOccurs="0" name="description" type="xs:string" />
					<xs:element minOccurs="0" name="status" type="tns:consentStatus" />
					<xs:element minOccurs="0" name="metaInfo" type="xs:string" />
					<xs:element minOccurs="0" name="kksFormInstance" type="tns:kksFormInstance" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="kksGivenTo"
						nillable="true" type="ns1:organization" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="consentTemplate">
				<xs:sequence>
					<xs:element minOccurs="0" name="consentTemplateId" type="xs:long" />
					<xs:element minOccurs="0" name="templateName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="givenTo">
				<xs:sequence>
					<xs:element name="partyId" type="xs:string" />
					<xs:element name="partyName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="kksFormInstance">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="fields"
						nillable="true" type="tns:kksFormField" />
					<xs:element minOccurs="0" name="instanceId" type="xs:string" />
					<xs:element minOccurs="0" name="instanceName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="kksFormField">
				<xs:sequence>
					<xs:element minOccurs="0" name="fieldId" type="xs:string" />
					<xs:element minOccurs="0" name="fieldName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="queryConsentTemplates">
				<xs:sequence>
					<xs:element minOccurs="0" name="prefix" type="xs:string" />
					<xs:element minOccurs="0" name="limit" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="queryConsentTemplatesResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="consentTemplate" type="tns:consentTemplate" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createConsent">
				<xs:sequence>
					<xs:element minOccurs="0" name="consent" type="tns:consent" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createConsentResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:simpleType name="consentStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Open" />
					<xs:enumeration value="PartiallyGiven" />
					<xs:enumeration value="Valid" />
					<xs:enumeration value="Expired" />
					<xs:enumeration value="Revoked" />
					<xs:enumeration value="Declined" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="queryConsentTemplates">
		<wsdl:part element="tns:queryConsentTemplates" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryConsents">
		<wsdl:part element="tns:queryConsents" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createConsent">
		<wsdl:part element="tns:createConsent" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryConsentsResponse">
		<wsdl:part element="tns:queryConsentsResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createConsentResponse">
		<wsdl:part element="tns:createConsentResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryConsentTemplatesResponse">
		<wsdl:part element="tns:queryConsentTemplatesResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="KokuTivaToKksService">
		<wsdl:operation name="queryConsents">
			<wsdl:input message="tns:queryConsents" name="queryConsents">
			</wsdl:input>
			<wsdl:output message="tns:queryConsentsResponse" name="queryConsentsResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryConsentTemplates">
			<wsdl:input message="tns:queryConsentTemplates" name="queryConsentTemplates">
			</wsdl:input>
			<wsdl:output message="tns:queryConsentTemplatesResponse"
				name="queryConsentTemplatesResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createConsent">
			<wsdl:input message="tns:createConsent" name="createConsent">
			</wsdl:input>
			<wsdl:output message="tns:createConsentResponse" name="createConsentResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="KokuTivaToKksServiceSoapBinding" type="tns:KokuTivaToKksService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryConsents">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="queryConsents">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="queryConsentsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryConsentTemplates">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="queryConsentTemplates">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="queryConsentTemplatesResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createConsent">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createConsent">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createConsentResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="KokuTivaToKksService">
		<wsdl:port binding="tns:KokuTivaToKksServiceSoapBinding"
			name="KokuTivaToKksServicePort">
			<soap:address
				location="http://kohtikumppanuutta-dev.dmz:8180/arcusys-koku-0.1-SNAPSHOT-tiva-model-0.1-SNAPSHOT/KokuTivaToKksServiceImpl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
